* {
  margin: 0;
  padding: 0;
}

.backgrnd {
  height: 80rem;
  width: 100%;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    150deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(227, 27, 221, 1) 0%,
    rgba(250, 92, 92, 1) 100%
  );
  text-align: center;
}

#my-canvas {
  height: 100vh;
}

.content {
  z-index: 10;
  left: 0;
  top: 0;
  position: absolute;
  right: 0;
  display: inline-block;
}

p {
  font-size: 2rem;
  padding: 0.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #ffffff;
}

.line1 {
  padding-top: 5rem;
}

.line2 {
  font-size: 4rem;
  color: yellow;
}

.line4 {
  font-size: 1.5rem;
  font-weight: 300;
}

.line5 {
  margin-top: 1rem;
  font-size: 1.5rem;
  background-color: chartreuse;
  padding: 1rem;
  color: black;
  font-weight: 400;
  display: inline-block;
  animation: blinking 1.5s infinite;
}

@keyframes blinking {
  50% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}

.line6 {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 100;
}

.imagewrapper {
  height: 30rem;
  margin-top: 2rem;
}

.logo {
  position: absolute;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 1rem;
}
